<!DOCTYPE HTML>
<html>
	<head>
		<title>Electronics Sector Analysis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

			<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{{url_for('homepage')}}">Stock Prediction</a></div>
				<a href="#menu">Menu</a>
			</header>


		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('homepage')}}">Home</a></li>
					<li><a href="{{url_for('dataeda')}}">Data</a></li>
					<li><a href="{{url_for('show_architecture')}}">Architecture</a></li>
					<li><a href="{{url_for('sentimentanalysis')}}">Sentiment Analysis</a></li>
					<li><a href="{{url_for('timeseriesanalysis')}}">Time Series Forecasting</a></li>
					<li><a href="{{url_for('metric')}}">Metrics</a></li>
					<li><a href="{{url_for('cloud')}}">Cloud Providers</a></li>
					<li><a href="{{url_for('electronics')}}">Electronics Sector</a></li>
					<li><a href="{{url_for('retail')}}">Retail Sector</a></li>
					<li><a href="{{url_for('health')}}">Health Sector</a></li>
					<li><a href="{{url_for('automobile')}}">Automabile Sector</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="../static/electronics.gif" alt="" />

				</article>
			</section>

		<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p style="font-size:x-large;font-weight:bold;color:black;">Electronics Sector Analysis</p>
						<h4> As version 1.0 you have access to 3 Companies : Apple, Dell, HP </h4>
						<h4>Data is powered by Live Direct Query from AWS Redshift which is sync using Glue ETL pipeline to keep latest data and Redshift scheduler query editor to truncate old data.</h4>
						<h4>Find Powerful insights like : what time are high tweets peaks, news board, filters etc.</h4>
					</header>
				</div>
		</section>


		<section>
			<br>
			<br>
			<div style = "text-align:center">
        	<iframe width="1300" height="800"src="https://app.powerbi.com/view?r=eyJrIjoiY2U0MmQ0ZDktYTY2Ny00MDI1LWFjMzEtMjE1ZDQxMzk3OGFhIiwidCI6ImE4ZWVjMjgxLWFhYTMtNGRhZS1hYzliLTlhMzk4YjkyMTVlNyIsImMiOjN9&pageName=ReportSectionf20a6f0a06a0ec2b6957" frameborder="0" allowFullScreen="true"></iframe>
			</div>
		</section>>

		<!-- Two -->
			<section id="footer" class="wrapper style2" style="background-color:black;padding-top:0px;">
				<div class="inner">
					<header class="align-center">
                            <br>
                            <br>
						<table border="1" style="font-size:large;">
							<tr>
								<td></td>
								<td style="font-style:italic;">Created By</td>
								<td></td>
							</tr>
							<tr style="font-weight:bold;">
								<td><a href ='https://www.linkedin.com/in/jayshiljain/'>Jayshil Jain</td>
								<td><a href = 'https://www.linkedin.com/in/shahsagar95/'>Sagar Shah</td>
								<td><a href = 'https://www.linkedin.com/in/akashmdubey/'>Akash Dubey</td>
							</tr>
							<tr>
								<td></td>
                                <br>
								<td class="copyright">&copy; Untitled. All rights reserved</td>
								<td></td>
							</tr>
						</table>
					</header>


				</div>
			</section>


		<!-- Footer -->
			<!--<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>-->

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
	</body>
</html>